/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of CSS reset */

.container {
  max-width: 1080px;
  margin: 0 auto;
  font-family: Arial, "Microsoft JhengHei", Helvetica, sans-serif;
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.header-element {
  width: 33.333%;
}

.header-element h1 a {
  background-image: url(../img/BMI_logo_large.png);
  width: 117px;
  height: 117px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header-element div {
  max-width: 80%;
  text-align: left;
  margin: 0 auto;
}

.header-element label {
  color: #ffd366;
  display: block;
  padding: 0.2rem 0;
}

.header-element input {
  border-radius: 10px;
  border: solid 3px #ffd366;
  width: 100%;
  font-size: 1.2rem;
  font-family: Arial, "Microsoft JhengHei", Helvetica, sans-serif;
  height: 2rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  margin: 1rem 0;
  padding: 0.2rem 0.5rem;
}

.checkResult {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  font-family: Arial, "Microsoft JhengHei", Helvetica, sans-serif;
  font-size: 1.5rem;
}

.resultRow {
  background-color: #ffffff;
  max-width: 80%;
  margin: 2rem auto;
  padding: 1.2rem 0;
  text-align: left;
}

.resultRow .result-element {
  width: 16.66666%;
  padding-left: 1.2rem;
}

.bg-dark {
  padding: 3rem 0;
  background-color: #424242;
}

.bg-light {
  background-color: #f5f5f5;
}

.bg-yellow {
  background-color: #ffd366;
}

.text-h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-sm {
  font-size: 0.8rem;
}

.text-lg {
  font-size: 1.2rem;
}

.py-4 {
  padding: 2rem 0;
}

.pt-2 {
  padding-top: 0.8rem;
}
